<!DOCTYPE html>
{% load static %}

<html lang="ko" dir="ltr">

<head>
  <!--bootstrap cdn-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <meta charset="utf-8">
  <title>Home</title>
</head>

<body>
  <div class="modal-body">
    <div class="countainer-fluid text-center">
      <br>
      <h1>"WORD COUNT"</h1>
      <br>
      <!--textarea form-->
      <form action="{%url 'result'%}">
        <textarea class="form-control" rows="15" name="fulltext"></textarea>
        <br>
        <input class="btn btn-success" type="submit" value="Count!">
      </form>
      <br>
      <div class="about">
        <a href="{% url 'about' %}" role="button">ABOUT</a>
      </div>
    </div>
  </div>

</body>

</html>