* {
    font-family: 'Nanum Gothic', sans-serif;
}
body{
	position: fixed; 
	overflow-y: scroll;
	width: 100%;
}
h1 {
    text-align: center;
    padding: 30px;
}
div{
    text-align: center;
}
.text {
    padding-left: 60px;
    padding-right: 60px;
}